@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Azeret Mono", monospace;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.btn{
    width: 171px;
    height: 47px;
    box-sizing: border-box;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    opacity: 0.7;
}
/* navbar section starts */
.nav-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}
.nav-content h3{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 28px;
    font-weight: 800;
}
.nav-content button{
    width: 228px;
    height: 58px;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    font-size: 1.2rem;
}
/* navbar section ends */
/* banner section starts */
.banner-container{
    width: 1820px;
    height: 652px;
    margin: 0 auto;
    margin-top: 35px;
    background-image: url(../assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-content img{
    margin-bottom: 35px;
}
.banner-content h1{
    margin-bottom: 35px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
}
.banner-content p{
    margin-bottom: 35px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
}
.banner-content button{
     position: static;
    width: 208px;
    height: 66px;
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    padding: 21px 24px 21px 24px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
}
/* banner section ends */
/* main section starts */
.development-container{
    width: 1140px;
    height: 1393px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    margin: 0 auto;
    margin-top: 50px;
}
.development-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.development-content h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    margin-top: 60px;
    margin-bottom: 30px;
}
.development-content p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
}
.change-container{
    width: 946px;
    height: 336px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.change-content h1{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    margin-top: -40px;
    margin-bottom: 30px;
}
.change-content p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
}
.part2{
    margin-left: 50px;
}
.part2 h1{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    margin-top: -40px;
    margin-bottom: 30px;
}
.part2 p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
}
/* video section starts */
.video-container{
    width: 1140px;
    height: 775px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    margin-top: 50px;
}
.video-content h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    margin-left: 400px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.video-content p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
}
.inspire-container{
    width: 1140px;
    height: 614px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
}
.inspire-content iframe{
    width: 1076px;
    height: 550px;
    border-radius: 16px;
    margin-left: 30px;
    margin-top: 30px;
}
/* video section ends */

/* card section starts */
.card-container{
    width: 1140px;
    height: 460px;
    margin: 0 auto;
    margin-top: 50px;
}
.head1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    margin-left: 400px;
    margin-bottom: 30px;
}
.para1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    margin-left: 250px;
}
.card-content{
    width: 1092px;
    height: 460px;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: flex-start;
    margin-top: 50px;
}
.card-details1{
    width: 1100px;
    height: 400px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
    margin-right: 20px;
}
.card-details1 img{
   margin-top: 80px;
   margin-left: 30px;
}
.card-details1 h1, p, u{
    margin-left: 30px;
}
.card-details2{
    width: 1100px;
    height: 400px;
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
    margin-right: 20px;
}
.card-details2 img{
    margin-top: 80px;
    margin-left: 30px;
}
.card-details2 h1, p, u{
    margin-left: 30px;
}
.card-details3{
    width: 1100px;
    height: 400px;
    border-radius: 16px;
background: rgba(255, 223, 0, 0.05);
}
.card-details3 img{
    margin-top: 80px;
    margin-left: 30px;
 }
.card-details3 h1, p, u{
    margin-left: 30px;
}
.u-btn{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
}

/* card section ends */

/* main section ends */

/* footer section starts */
.comment-container{
    width: 1140px;
    height: 313px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url(../assets/handshake.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    margin-top: 150px;
    border-radius: 16px;
    margin-bottom: 50px;        
}

.comment-content h1{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}
.comment-content p{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    margin-top: 20px;
}
#input1{
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    width: 548px;
    height: 57px;
    margin-top: 70px;
    font-size: 20px;
}
#input2{
    width: 120px;
    height: 57px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
}
#end-container{
    width: 1440px;
    height: 100px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}
.end-content{
    margin-top: 50px;
}
/* footer section ends */